<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um bot que ira moderar e deixar a sua comunidade segura">
    <title>Projeto 3</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a href="/desenvolvedor" class="cabecalho-menu-item">Listagem de Desenvolvedores</a>
            <a href="/desenvolvedor/add" class="cabecalho-menu-item">Adicionar Desenvolvedor</a>
            <a href="/projeto" class="cabecalho-menu-item">Listagem de Projeto</a>
            <a href="/projeto/add" class="cabecalho-menu-item">Adicionar Projetos</a>
        </nav>
    </p>
</header>
<main class="conteudo">