<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um bot que ira moderar e deixar a sua comunidade segura">
    <title>Projeto 3</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
        <a href="/usuario/add" class="cabecalho-menu-item">Adicionar Usuário</a> |
        <a href="/usuario/" class="cabecalho-menu-item">Listar Usuário</a> |
        <a href="/projeto/add" class="cabecalho-menu-item">Adicionar Projeto</a> |
        <a href="/projeto/" class="cabecalho-menu-item">Listar Projeto</a> |
        <a href="/integrante/add" class="cabecalho-menu-item">Adicionar integrante</a> |
        <a href="/integrante/" class="cabecalho-menu-item">Listar integrantes</a>
        </nav>
    </p>
</header>
<main class="conteudo">