<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a href="/usuario" class="cabecalho-menu-item">Listagem de usuários</a>
            <a href="/usuario/add" class="cabecalho-menu-item">Adicionar usuários</a>
            <a href="/integrante" class="cabecalho-menu-item">Listagem de integrantes</a>
            <a href="/integrante/add" class="cabecalho-menu-item">Adicionar integrantes</a>
            <a href="/projeto" class="cabecalho-menu-item">Listagem de projetos</a>
            <a href="/projeto/add" class="cabecalho-menu-item">Adicionar projetos</a>
        </nav>
        </header>
</body>
</html>