@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #100c1a 16.62%, #1f492a 85.61%);

}

.foto-user{
    width: 60px;
}

img {
    width: 60px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    justify-content: flex-end;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color:  #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    display:flex;
    font-family: 'Righteous', cursive;
    border-top: 0.3px solid #FFF2E7;
    color: #FFF2E7;
    margin: 0px;
    padding-top: 75px;
    flex-direction: column;
    padding-bottom: 17%;
    gap: 40px;

}


.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    
}
.conteudo-principal-escrito-botao{
    background-color: #5fca78;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(68, 158, 106, 0.53);
  }

button{
    transform: translatex (0px);
    animation: botao 5s ease-in-out infinite;

}

@keyframes botao {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform: translatex(-15px);
    }
    100%{
        transform: translatex(0px);
    }
    
}


.conteudo-principal-imagem{
    height: 430 px; 
    max-width: 340px;
    transform: translatey (0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(0px);
    }
    
}

.add, .edt{
    display: flex;
    align-items: center;
    flex-direction: column;
}

select {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  input{
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

input{
    padding: 35px;
    border-radius: 15px;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25%;
    font-family: sans-serif;
    font-size: 1em;
    font-size: 1em;
    margin-bottom: 1em;
    
    padding: 0.2em 0em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

input[type="submit"]{
    width: 80px;
}