<%-include('../cabecalho.ejs');%>
   <form method="post" enctype="multipart/form-data">
       Nome: <input type="text" name="nome" 
        placeholder="Digite seu nome"><br>
       Email: <input type="email" name="email" 
        placeholder="Digite a descrição do projeto"><br>
       Endereço: <input type="text" name="endereco"
       placeholder="Digite seu endereço"> <br>
       Projeto:
       <select require name="projeto">
           <%Projetos.forEach(function(projeto){%>
            <option value=""></option>
            <option value="<%=projeto._id%>"><%=projeto.nome%></option>
            <%})%>
       </select>
       <br>
       Foto: <input type="file" name="foto" required><br>
       <input type="submit" value="Enviar">
   </form> 

<%-include('../rodape.ejs');%>