<%-include('../cabecalho.ejs');%>
   <form method="post" enctype="multipart/form-data">
       Id: <input type="hidden" name="id" value="<%Integrante._id%>"><br>
       Nome: <input type="text" name="nome" value="<%Integrante._nome%>"
        placeholder="Digite seu nome"><br>
       Email: <input type="email" name="email" value="<%Integrante._email%>"
        placeholder="Digite a descrição do projeto"><br>
       Endereço: <input type="text" name="endereco" value="<%Integrante._endereco%>"
       placeholder="Digite seu endereço"> <br>
       Projeto:
       <select require name="projeto">
           <option value=""> Escolha o projeto do integrante</option>
       </select>
       <br>
       Foto: <input type="file" name="foto" required><br>
       <input type="submit" value="Enviar">
   </form> 
<%-include('../rodape.ejs');%>